/.cask
/.hive-maint
/eln-cache
/elpa
/var
/tramp
/.org-id-locations
/places
/eln-cache/
/eshell/
/transient/
/elpa/
/org-roam.db
/*.el
/.cache
/go/
/.dap-breakpoints
/.extension/
/.lsp-session-v1
/amx-items
/eclipse.jdt.ls/
/workspace
ielm-history.eld

lisp/

/history
/url/
/bookmarks
/auto-save-list/
/recentf
/projectile-bookmarks.eld
/.emacs.desktop*
/projects
/eaf/
/ebdb
/network-security.data
dirvish/
/.agent-shell/
/lib/lsp-bridge/
/forge-database.sqlite
/rime/
/pyim/
/games/
*.elc
