[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el
[submodule "site-lisp/ivy"]
	path = site-lisp/ivy
	url = https://github.com/abo-abo/swiper
[submodule "site-lisp/which-key"]
	path = site-lisp/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "site-lisp/rime"]
	path = site-lisp/rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "site-lisp/fingertip"]
	path = site-lisp/fingertip
	url = https://github.com/manateelazycat/fingertip/
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/llama"]
	path = site-lisp/llama
	url = https://github.com/tarsius/llama
[submodule "site-lisp/compat"]
	path = site-lisp/compat
	url = https://github.com/emacs-compat/compat
[submodule "site-lisp/transient"]
	path = site-lisp/transient
	url = https://github.com/magit/transient
[submodule "site-lisp/with-editor"]
	path = site-lisp/with-editor
	url = https://github.com/magit/with-editor
[submodule "site-lisp/posframe"]
	path = site-lisp/posframe
	url = https://github.com/tumashu/posframe
[submodule "site-lisp/olivetti"]
	path = site-lisp/olivetti
	url = https://github.com/rnkn/olivetti
[submodule "site-lisp/org-re-reveal"]
	path = site-lisp/org-re-reveal
	url = https://github.com/emacsmirror/org-re-reveal
[submodule "site-lisp/aweshell"]
	path = site-lisp/aweshell
	url = https://github.com/manateelazycat/aweshell
[submodule "site-lisp/dirvish"]
	path = site-lisp/dirvish
	url = https://github.com/alexluigit/dirvish
[submodule "site-lisp/avy"]
	path = site-lisp/avy
	url = https://github.com/abo-abo/avy
[submodule "site-lisp/colorful-mode"]
	path = site-lisp/colorful-mode
	url = https://github.com/DevelopmentCool2449/colorful-mode
[submodule "site-lisp/ace-window"]
	path = site-lisp/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/bbatsov/projectile
[submodule "site-lisp/org-tree-slide"]
	path = site-lisp/org-tree-slide
	url = https://github.com/takaxp/org-tree-slide
[submodule "site-lisp/auctex"]
	path = site-lisp/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
[submodule "site-lisp/cdlatex"]
	path = site-lisp/cdlatex
	url = https://github.com/cdominik/cdlatex
