[include]
	path = .gitremotes
	path = .borgconfig
[submodule "ace-window"]
	path = lib/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "aio"]
	path = lib/aio
	url = https://github.com/skeeto/emacs-aio
[submodule "amx"]
	path = lib/amx
	url = https://github.com/DarwinAwardWinner/amx
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async
[submodule "auctex"]
	path = lib/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "bui"]
	path = lib/bui
	url = https://github.com/alezost/bui.el
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape
[submodule "cdlatex"]
	path = lib/cdlatex
	url = https://github.com/cdominik/cdlatex
[submodule "citar"]
	path = lib/citar
	url = https://github.com/emacs-citar/citar
[submodule "citeproc"]
	path = lib/citeproc
	url = https://github.com/andras-simonyi/citeproc-el
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql.git
[submodule "colorful-mode"]
	path = lib/colorful-mode
	url = https://github.com/DevelopmentCool2449/colorful-mode
[submodule "company"]
	path = lib/company
	url = https://github.com/company-mode/company-mode
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "csv-mode"]
	path = lib/csv-mode
	url = git@github.com:emacsmirror/csv-mode.git
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "deferred"]
	path = lib/deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "deflate"]
	path = lib/deflate
	url = https://github.com/skuro/deflate
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "dirvish"]
	path = lib/dirvish
	url = https://github.com/alexluigit/dirvish
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = https://github.com/seagle0128/doom-modeline
[submodule "ebdb"]
	path = lib/ebdb
	url = git@github.com:emacsmirror/ebdb.git
[submodule "emacs-everywhere"]
	path = lib/emacs-everywhere
	url = https://github.com/tecosaur/emacs-everywhere
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/magit/emacsql.git
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
[submodule "emmet-mode"]
	path = lib/emmet-mode
	url = https://github.com/smihica/emmet-mode
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "fanyi"]
	path = lib/fanyi
	url = https://github.com/condy0919/fanyi.el
[submodule "flycheck"]
	path = lib/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "go-mode"]
	path = lib/go-mode
	url = https://github.com/dominikh/go-mode.el
[submodule "gptel"]
	path = lib/gptel
	url = https://github.com/karthink/gptel
[submodule "gptel-magit"]
	path = lib/gptel-magit
	url = https://github.com/ragnard/gptel-magit
[submodule "highlight-indent-guides"]
	path = lib/highlight-indent-guides
	url = https://github.com/DarthFennec/highlight-indent-guides
[submodule "highlight-matching-tag"]
	path = lib/highlight-matching-tag
	url = https://github.com/manateelazycat/highlight-matching-tag.git
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra
[submodule "image-roll"]
	path = lib/image-roll
	url = https://github.com/dalanicolai/image-roll.el.git
[submodule "instant-rename-tag"]
	path = lib/instant-rename-tag
	url = https://github.com/manateelazycat/instant-rename-tag.git
[submodule "ivy"]
	path = lib/ivy
	url = https://github.com/abo-abo/swiper
[submodule "ivy-posframe"]
	path = lib/ivy-posframe
	url = https://github.com/tumashu/ivy-posframe
[submodule "jinx"]
	path = lib/jinx
	url = https://github.com/minad/jinx
[submodule "js2-mode"]
	path = lib/js2-mode
	url = https://github.com/mooz/js2-mode
[submodule "keycast"]
	path = lib/keycast
	url = https://github.com/tarsius/keycast
[submodule "leetcode"]
	path = lib/leetcode
	url = https://github.com/kaiwk/leetcode.el
[submodule "link-hint"]
	path = lib/link-hint
	url = https://github.com/noctuid/link-hint.el
[submodule "llama"]
	path = lib/llama
	url = https://github.com/tarsius/llama.git
[submodule "log4e"]
	path = lib/log4e
	url = https://github.com/aki2o/log4e
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit.git
[submodule "major-mode-hydra"]
	path = lib/major-mode-hydra
	url = https://github.com/jerrypnz/major-mode-hydra.el
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "mcp"]
	path = lib/mcp
	url = https://github.com/lizqwerscott/mcp.el
[submodule "move-text"]
	path = lib/move-text
	url = https://github.com/emacsfodder/move-text
[submodule "mu4e"]
	path = lib/mu4e
	url = https://github.com/djcb/mu
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
[submodule "olivetti"]
	path = lib/olivetti
	url = https://github.com/rnkn/olivetti
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "org-appear"]
	path = lib/org-appear
	url = https://github.com/awth13/org-appear
[submodule "org-download"]
	path = lib/org-download
	url = https://github.com/abo-abo/org-download
[submodule "org-fragtog"]
	path = lib/org-fragtog
	url = https://github.com/io12/org-fragtog
[submodule "org-noter"]
	path = lib/org-noter
	url = https://github.com/org-noter/org-noter
[submodule "org-roam"]
	path = lib/org-roam
	url = https://github.com/org-roam/org-roam
[submodule "org-roam-ui"]
	path = lib/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui
[submodule "ox-hugo"]
	path = lib/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo
[submodule "parsebib"]
	path = lib/parsebib
	url = https://github.com/joostkremers/parsebib
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/aikrahguzar/pdf-tools.git
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/vedang/pdf-tools
[submodule "pdf-view-restore"]
	path = lib/pdf-view-restore
	url = https://github.com/007kevin/pdf-view-restore
[submodule "pfuture"]
	path = lib/pfuture
	url = https://github.com/Alexander-Miller/pfuture
[submodule "plantuml-mode"]
	path = lib/plantuml-mode
	url = https://github.com/skuro/plantuml-mode
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "quickrun"]
	path = lib/quickrun
	url = https://github.com/emacsorphanage/quickrun
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "request"]
	path = lib/request
	url = https://github.com/tkf/emacs-request
[submodule "rime"]
	path = lib/rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "riscv-mode"]
	path = lib/riscv-mode
	url = https://github.com/AdamNiederer/riscv-mode
[submodule "rust-mode"]
	path = lib/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "shrink-path"]
	path = lib/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = https://github.com/skeeto/emacs-web-server
[submodule "skewer-mode"]
	path = lib/skewer-mode
	url = https://github.com/skeeto/skewer-mode
[submodule "snippets"]
	path = snippets
	url = git@github.com:zkazure/snippets.git
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "string-inflection"]
	path = lib/string-inflection
	url = https://github.com/akicho8/string-inflection
[submodule "sudo-edit"]
	path = lib/sudo-edit
	url = https://github.com/nflath/sudo-edit
[submodule "super-save"]
	path = lib/super-save
	url = https://github.com/bbatsov/super-save
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/emacsorphanage/tablist
[submodule "tomelr"]
	path = lib/tomelr
	url = https://github.com/kaushalmodi/tomelr
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient.git
[submodule "treemacs"]
	path = lib/treemacs
	url = https://github.com/Alexander-Miller/treemacs
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el.git
[submodule "treesit-fold"]
	path = lib/treesit-fold
	url = https://github.com/emacs-tree-sitter/treesit-fold
[submodule "visual-regexp"]
	path = lib/visual-regexp
	url = https://github.com/benma/visual-regexp.el
[submodule "vterm"]
	path = lib/vterm
	url = https://github.com/akermu/emacs-libvterm
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo
[submodule "web-mode"]
	path = lib/web-mode
	url = https://github.com/fxbois/web-mode
[submodule "websocket"]
	path = lib/websocket
	url = https://github.com/ahyatt/emacs-websocket
[submodule "which-key-posframe"]
	path = lib/which-key-posframe
	url = https://github.com/emacsorphanage/which-key-posframe
[submodule "whitespace-cleanup-mode"]
	path = lib/whitespace-cleanup-mode
	url = https://github.com/purcell/whitespace-cleanup-mode
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "yaml"]
	path = lib/yaml
	url = https://github.com/zkry/yaml.el
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet
