/.cask
/.hive-maint
/eln-cache
/elpa
/var
/tramp
/.org-id-locations
/places
/eln-cache/
/eshell/
/transient/
/elpa/
/org-roam.db
/*.el
/.cache
/go/

lisp/
lib/lsp-bridge/

/history
/url/
/bookmarks
/auto-save-list/
/recentf
/projectile-bookmarks.eld
/.emacs.desktop*
/projects
/eaf/
/ebdb
/network-security.data
